@import '../../styles/_extendables';

.project-card {
  position: relative;
  @extend %project-container;
  @extend %project-text;

  &--can-click {
    cursor: pointer;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: calc(100% - #{$app--standard-padding * 2});
    padding: $app--standard-padding;
  }

  &__view {
    position: absolute;
    top: 0;
    left: -5px;
    right: -5px;
    overflow: hidden;
    border: 1px solid transparent;
    &--selected {
      z-index: map-get($z-index, modal);
    }
  }
}
