@import '../../styles/_extendables';

.project-card {
  @extend %project-container;
  @extend %project-text;
  height: 0%; // causes flex item to expand with its contents instead of siblings!
  max-width: 32%;

  &--can-click {
    cursor: pointer;
  }

  &__content {
    padding: $app--standard-padding;
  }

  &__view {
    width: 100%;
  }
}
