@import '../../styles/_variables';
@import '../../styles/_mixins';

.item-card {
  display: flex;
  flex-direction: column;
  min-height: 3em;
  padding: $app--standard-padding;
  margin: 2px 0;
  @include workItemTypeBorder;

  &__name {
    display: flex;
    padding: $app--standard-padding 0;
  }
  &__description {
    display: flex;
    padding: $app--standard-padding 0;
  }
  &__detail {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }
  &__button-group {
    display: flex;
    justify-content: flex-end;
  }
}
