@import '../../styles/_variables';
@import '../../styles/_mixins';

.item-card {
  display: flex;
  flex-direction: column;
  min-height: 3em;
  padding: $app--standard-padding;
  @include work-item-type-border;

  &__name {
    padding: $app--standard-padding 0;
  }
  &__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: -webkit-fill-available;
  }
}
