.project-filters {
  display: flex;
  height: 45px;
  margin-bottom: 10px;
}

.project-count {
  font-size: 0.8rem;
  margin: 10px 5px;
  min-height: 1rem;
}

.project-create-title {
  margin: 0.5em;
  font-size: 1.2em;
  font-weight: normal;
}

.project-sort {
  margin: 0 5px;
}
