$bishamon--jacket: #63636b;
$bishamon--eyes: #cc7eec;
$bishamon--hair: #fff9b3;

$bishamon--knight--skirt: #333399;
$bishamon--knight--underskirt: #f0ecfd;
$bishamon--knight--armour: #c0c0c0; //lighten(#939cb8, 15%); //#a5b4cb;

$bishamon--warlord--base: lighten(#993399, 10%);
$bishamon--warlord--trim: #1a1b23;
$bishamon--warlord--pattern: #357f7c;

$bishamon--kimono--base: #f5e6f9;
$bishamon--kimono--obi: #993366;
$bishamon--kimono--pattern: #d593a2;

$bishamon--suit--base: #333333;
$bishamon--suit--trim: lighten(#7e2e2f, 20%);
$bishamon--suit--lining: #663333;

// Shades
$black: #000;
$grey--50: #808080; // Grey
$grey--light: #d3d3d3;
$white: #fff;

//Colours
$blue--vivid: #3399ff;

$cyan: #00ffff; // aqua

$green--lime-strong: #33cc33;

$magenta--soft: #da70d6; //Orchid
$orange: #ff9900;

$red: #f00;

$work-types: (
  feature: $blue--vivid,
  bug: $red,
  enhancement: $green--lime-strong,
  refactor: $orange,
  upgrade: $magenta--soft,
  investigate: $cyan
);
