@import './_variables';

%project-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: $app--standard-padding;
}
%project-text {
  padding: $app--standard-padding;
  border-left: 3px solid;
}
