@import './_variables';

%project-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 33%;
  padding: $app--standard-padding;
}
%project-text {
  padding: $app--standard-padding;
  border-left: 3px solid;
}

%work-item-type-colour {
  border-left: $cards--coloured-border-width solid transparent;

  &--type_ {
    @each $wt, $value in $work-types {
      &#{$wt} {
        border-left-color: $value;
      }
    }
  }
}
