@import './_variables.scss';
@import './_mixins';

$theme-maps: (
  default:
    (
      base-background: $bishamon--hair,
      base-colour: $bishamon--jacket,
      accent-colour: $bishamon--eyes,
      header-background: $bishamon--jacket,
      header-colour: $bishamon--hair,
      button--background: $bishamon--jacket,
      button--colour: $bishamon--hair,
      button-link--colour: $bishamon--jacket
    ),
  theme-two:
    (
      base-background: $bishamon--suit--trim,
      base-colour: $bishamon--suit--base,
      accent-colour: $bishamon--hair,
      header-background: $bishamon--suit--base,
      header-colour: $bishamon--suit--trim,
      button--background: $bishamon--suit--base,
      button--colour: $bishamon--suit--trim,
      button-link--colour: $bishamon--suit--base
    ),
  theme-three:
    (
      base-background: $bishamon--knight--armour,
      base-colour: $bishamon--knight--skirt,
      accent-colour: $bishamon--knight--underskirt,
      header-background: $bishamon--knight--skirt,
      header-colour: $bishamon--knight--armour,
      button--background: $bishamon--knight--skirt,
      button--colour: $bishamon--knight--armour,
      button-link--colour: $bishamon--knight--skirt
    ),
  theme-four:
    (
      base-background: $bishamon--warlord--base,
      base-colour: $bishamon--warlord--trim,
      accent-colour: $bishamon--warlord--pattern,
      header-background: $bishamon--warlord--trim,
      header-colour: $bishamon--warlord--base,
      button--background: $bishamon--warlord--trim,
      button--colour: $bishamon--warlord--base,
      button-link--colour: $bishamon--warlord--trim
    ),
  theme-five:
    (
      base-background: $bishamon--kimono--base,
      base-colour: $bishamon--kimono--obi,
      accent-colour: $bishamon--kimono--pattern,
      header-background: $bishamon--kimono--obi,
      header-colour: $bishamon--kimono--base,
      button--background: $bishamon--kimono--obi,
      button--colour: $bishamon--kimono--base,
      button-link--colour: $bishamon--kimono--obi
    )
);
@each $theme-name, $values in $theme-maps {
  $base-background: map-get($values, base-background);
  $base-colour: map-get($values, base-colour);
  $accent-colour: map-get($values, accent-colour);
  $header-background: map-get($values, header-background);
  $header-colour: map-get($values, header-colour);
  $button-colour: map-get($values, button--colour);
  .app--theme_#{$theme-name} {
    &.app,
    main {
      background-color: $base-background;
      color: $base-colour;
    }
    #app-settings-menu {
      background-color: $base-background;
      @include standard-shadow($accent-colour);
      > li:first-child {
        border-bottom-color: $base-background;
        filter: drop-shadow(0 -2px 2px $accent-colour);
      }
    }
    .header-bar {
      background-color: $header-background;
      color: $header-colour;
      svg > text {
        fill: $header-colour;
      }
    }
    .meiko-bouncer > div {
      background-color: $accent-colour;
    }
    .swimlane,
    .swimlane__header {
      border-color: $base-colour;
    }
    .swimlane__list--droppable {
      background-color: $accent-colour;
      opacity: 0.25;
    }
    .swimlane-card {
      background-color: $base-background;
      @include standard-shadow($base-colour);
      &--selected {
        @include standard-shadow($accent-colour);
      }
    }
    .bishamon-button:not(.primary),
    .form-container button:not(.primary) {
      background-color: $base-background;
      &:hover {
        background-color: darken($base-background, $button--darken-percentage);
      }
    }
    .bishamon-button.primary {
      background-color: map-get($values, button--background);
      color: $button-colour;
      &:hover {
        background-color: darken(
          map-get($values, button--background),
          $button--darken-percentage
        );
      }
    }
    .bishamon-button-link {
      color: map-get($values, button-link--colour);
      &:hover {
        color: darken(
          map-get($values, button-link--colour),
          $button--darken-percentage
        );
      }
    }
    .bishamon-tabs {
      & li[role='tab'] {
        border-color: $base-background;
        &.active {
          border-color: $base-colour;
          border-bottom-color: $base-background;
        }
      }
    }
    .bishamon-tab-panels {
      border-top-color: $base-colour;
    }
  }
}
