@import './_variables.scss';
@import './_mixins';

$theme-maps: (
  default:
    (
      base-background: $bishamon--hair,
      base-colour: $bishamon--jacket,
      accent-colour: $bishamon--eyes,
      header-background: $bishamon--jacket,
      header-colour: $bishamon--hair,
      button--background: $bishamon--jacket,
      button--colour: $bishamon--hair,
      button-link--colour: $bishamon--jacket
    )
);
@each $theme-name, $values in $theme-maps {
  $base-background: map-get($values, base-background);
  $base-colour: map-get($values, base-colour);
  $accent-colour: map-get($values, accent-colour);
  $header-background: map-get($values, header-background);
  $header-colour: map-get($values, header-colour);
  .app--theme_#{$theme-name} {
    &.app {
      background-color: $base-background;
      color: $base-colour;
    }
    .header-bar {
      background-color: $header-background;
      color: $header-colour;
      svg > text {
        fill: $header-colour;
      }
    }
    .swimlane,
    .swimlane__header {
      border-color: $base-colour;
    }
    .swimlane-card {
      @include standard-shadow($base-colour);
      &--selected {
        @include standard-shadow($accent-colour);
      }
    }
    .bishamon-button.primary {
      background-color: map-get($values, button--background);
      color: map-get($values, button--colour);
      &:hover {
        background-color: darken(
          map-get($values, button--background),
          $button--darken-percentage
        );
      }
    }
    .bishamon-button-link {
      color: map-get($values, button-link--colour);
      &:hover {
        color: darken(
          map-get($values, button-link--colour),
          $button--darken-percentage
        );
      }
    }
  }
}
