@import './_variables.scss';
@import './_mixins';
@import '~meiko/styles/_appTheme';

$percentage: 10%;

$theme-maps: (
  default: (
    base-background: $white,
    base-colour: $black,
    primary-background: $bishamon--jacket,
    primary-colour: $bishamon--hair,
    active-background: $bishamon--eyes,
    active-colour: $black,
    faded-out: $grey--80
  ),
  theme-two: (
    base-background: $bishamon--suit--base,
    base-colour: $white,
    primary-background: $bishamon--suit--trim,
    primary-colour: $bishamon--suit--base,
    active-background: $bishamon--suit--lining,
    active-colour: $white,
    faded-out: $grey--80
  )
);

@include appTheme($theme-maps) {
  // Overrides
  .dropdown-menu__toggler {
    background-color: $primary-background;
    color: $primary-colour;

    &:focus,
    &:hover {
      @include lightenOrDarken(
        'background-color',
        $primary-background,
        $percentage
      );
    }
  }
  // Overrides END

  .bishamon-button-link,
  .button--link {
    color: $primary-background;

    &:hover {
      @include lightenOrDarken('color', $primary-background, $percentage);
    }
  }

  .swimlane,
  .swimlane__header {
    border-color: $base-colour;
  }
  .swimlane__list--droppable {
    background-color: $active-background;
    opacity: 0.25;
  }
  .swimlane-card {
    background-color: $base-background;
    @include standardShadow($base-colour);

    &--selected {
      @include standardShadow($active-background);
    }
  }

  .note-widget {
    background-color: $base-background;
    box-shadow: 1px 1px 5px 1px $primary-background,
      0px 0px 1px 0px $primary-background;
  }
}
