@import './_colours';

$bishamon--jacket: #63636b;
$bishamon--eyes: #cc7eec;
$bishamon--hair: #fff9b3;

// App Variables

$app--font-size: 16px;

$button--darken-percentage: 5%;

$header--height: 50px;
