@import './_colours';

// Screen Variables

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Prevent overlapping
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

// App Variables

$app--font-size: 16px;
$app--standard-padding: 0.33em;

$button--darken-percentage: 5%;

$cards--coloured-border-width: 3px;

$directions: 'top', 'bottom', 'right', 'left';

$header--height: 50px;

$swimlane--status-count: 5;

$z-index: (
  above-siblings: 10,
  modal: 100
);

// Derived Variables
$form-padding: $app--standard-padding * 2;
