@import './_framework';
@import './_variables';
@import './_themes';

body {
  font-size: $app--font-size;
}

main {
  min-height: calc(100vh - 5px - #{$header--height});
  padding: 5px {
    top: $header--height;
  }
}

// General styles

.form-container {
  width: 50%;
  padding: $form-padding;
}

.card-form {
  width: calc(100% - #{$form-padding});
  padding: $form-padding 0;
}

// Overrides
.bishamon-tag > button {
  background-color: inherit !important;
}
