@import './_framework';
@import './_variables';
@import './_themes';

body {
  font-size: $app--font-size;
}

main {
  min-height: calc(100vh - 5px - #{$header--height});
  padding: 5px {
    top: $header--height;
  }

  @include respond-to(xs) {
    width: 100%;
  }
}

// Page specifics

.project-filters {
  height: 45px;
}

// General styles

.form-container {
  width: 50%;
  padding: $form-padding;
}

.card-form {
  width: calc(100% - #{$form-padding});
  padding: $form-padding 0;
}

.page-actions {
  @include respond-to(xs) {
    position: absolute;
    right: 0;
  }
}

// Overrides
.bishmon-tag-cloud {
  flex-direction: row-reverse;
  justify-content: flex-end;

  > .right {
    margin-left: 0.25em;
  }
}

.bishamon-tag > button {
  background-color: inherit !important;
}

.bishamon-tab-panels > div:first-child {
  @include respond-to(xs) {
    flex-direction: column;
  }
}
