@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.dashboard {
  &__header {
    display: flex;
  }

  &__title {
    font-size: 1.25rem;
    margin: 5px;
  }

  &__notes {
    margin: 0 10px;
  }

  &__widgets {
    width: 100%;
    margin: 10px 0;
  }

  &__item {
    box-shadow: 0px 0px 15px -5px var(--primary-background);
  }
}

.dashboard-tabs {
  @include respondTo(xs) {
    .tab-view {
      padding: 2px;
    }
  }
}

.dashboard-widget {
  padding: 5px;
  margin: 5px 0 10px;

  &__header {
    border-bottom: 1px solid;
  }

  &__title {
    font-size: 1.2em;
    margin: 5px;
  }
}

.dashboard-grid {
  grid-gap: 5px;

  &__item-type,
  &__item-ratio {
    display: flex;
    flex: 1;
  }

  &__item-ratio {
    justify-content: flex-end;
  }
}
