.logo.svg-link {
  padding: 0;
}

.header-bar {
  $selector: &;

  &__nav-button#{$selector}__nav-button {
    flex: unset;
    padding: 6px;
    margin: 2px;
  }

  &__right {
    display: flex;
    align-items: center;
    padding: 0 5px;
  }
}
