@import '../../styles/_mixins';
@import '../../styles/_variables';

$swimlane--header-width: calc(100% - 2px);
$placeholder-border: 1px solid transparent;

.swimlane {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: calc(100% / #{$swimlane--status-count});
  align-items: center;
  padding: $app--standard-padding 0;
  border-right: $placeholder-border;

  &:first-child {
    border-left: $placeholder-border;
  }

  &__header {
    width: $swimlane--header-width;
    padding: $app--standard-padding 0;
    padding-left: $app--standard-padding;
    border-bottom: $placeholder-border;
  }
  &__list {
    height: 100%;
  }

  @include respond-to(xs) {
    flex-direction: row;

    &__header {
      transform: rotate(-90deg) translateY(-68%);
      // height: $swimlane--header-width;
      // border: {
      //   bottom: none;
      //   right: $placeholder-border;
      // };
    }
  }
}
