@import '../../styles/_variables';

.swimlane-card {
  display: flex;
  width: calc(100% - #{$app--standard-padding * 2});
  min-height: 3em;
  padding: $app--standard-padding;

  &--can-move {
    cursor: pointer;
  }
  &--dragging {
    opacity: 0.5;
    box-shadow: none !important;
  }
}
