@import '../../styles/_variables';

.swimlane-card {
  display: flex;
  width: calc(100% - #{$app--standard-padding * 2});
  padding: $app--standard-padding;
  border: 1px solid transparent;

  &--can-move {
    cursor: pointer;
  }
}
