@import '../../styles/_mixins';
@import '../../styles/_variables';

$swimlane--header-width: calc(100% - 2px);
$placeholder-border: 1px solid transparent;

$swimlane--height-xs: calc((100vh - 175px) / 5);
$swimlane--header-width-xs: 90px;

.swimlane {
  padding: $app--standard-padding 0;
  border-right: $placeholder-border;

  @include respondToAll(sm md lg) {
    &:first-child {
      border-left: $placeholder-border;
    }
  }

  &__header {
    width: $swimlane--header-width;
    padding: $app--standard-padding 0;
    padding-left: $app--standard-padding;
    border-bottom: $placeholder-border;
  }
  &__list {
    height: 100%;
    width: calc(100% - 10px);
    padding: 5px;
    margin: 5px 0;
    list-style-type: none;
  }

  @include respondTo(xs) {
    display: flex;
    height: auto;
    padding: 0 $app--standard-padding;
    border: {
      left: $placeholder-border;
      bottom: $placeholder-border;
      right: none;
    }

    &__list {
      display: flex;
      padding: 0 5px;
      margin: 0;
    }

    &__header {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: $swimlane--header-width-xs;
      padding: 0 $app--standard-padding;
      border: none {
        right: $placeholder-border;
      }
    }
  }
}
