@import '../../styles/_extendables';
@import '../../styles/_mixins';

.project-information {
  @extend %project-container;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  &__header {
    @extend %project-text;
    padding: 0 $app--standard-padding;
  }
  &__children {
    display: flex;
    width: 100%;
  }
}

.project-header {
  &__title {
    font-size: 1.25rem;
    margin: 0;
  }
  &__text {
    padding: $app--standard-padding / 2;
    @include workItemTypeBorder;
  }
}
