@import '../../styles/_variables';

.swimlane-card {
  display: flex;
  flex-direction: column;
  width: calc(100% - #{$app--standard-padding * 2});
  min-height: 3em;
  padding: $app--standard-padding;

  &--can-move {
    cursor: pointer;
  }
  &--dragging {
    opacity: 0.5;
    box-shadow: none !important;
  }

  &__name {
    display: flex;
  }
  &__link {
    white-space: pre-line !important; // force override library
  }
  &__ratio {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }
}
