@import '../../styles/_variables';
@import '../../styles/_mixins';

.swimlane-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(
    100% - #{$app--standard-padding * 2} - #{$cards--coloured-border-width}
  );
  min-height: 3em;
  padding: $app--standard-padding;
  @include workItemTypeBorder;

  &--can-move {
    cursor: pointer;
  }

  &--dragging {
    opacity: 0.5;
    box-shadow: none !important;
  }

  &__name {
    display: flex;
  }

  &__link {
    white-space: pre-line !important; // force override library
  }

  &__ratio {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }

  &__edit {
    align-self: flex-start;
  }

  @include respondTo(xs) {
    flex: 1 0 auto;
    max-width: 210px;
    margin: 5px 0;
    margin-right: 0.25em;
  }
}
